body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #444;
}
::selection {
    background: #E3E3E3;
}
#menu {
    list-style: none;
}

#container {
    display:flex;
    flex-basis: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px;
}
.lineBox {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(116, 177, 226) ;
    padding: 16px 0 16px 0;
    margin: 0;
    border-bottom: 1px solid black;
}
.gridBox {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(116, 177, 226) ;
    padding: 20px;
    margin: 10px;
}
.lineBox img {
    text-align: left;
    width: 10%;
    height: 40px;
}